@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Rubik+Iso&display=swap');

* {
  color: black;
  font-family: 'Chakra Petch', sans-serif;
}

.app {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  height: 70vh;
}

h1 {
  font-size: 48px;
  font-family: 'Rubik Iso', cursive;
  padding: 50px 0px 0px 0px;
  margin: 50px 0px 0px 0px;
}

h3 {
  position: relative;
  left: -225px;
  margin: 5px 0px 5px 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: space-between; */
  height: 100%;
  width: 100%;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 1vh;
}

#entry {
  border: solid 0.5px;
  background-color: burlywood;
  width: 100%;
  height: 30px;
  align-items: center;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(95, 65, 0, 0.4) 0 4px 5px,
  rgba(95, 65, 0, 0.3) 5px 4px 5px;
}

.input-container {
  width: 100%;
  max-width: 650px;
  position: relative;
}

.input-container #submit {
  position: absolute;
  right: -20px;
  bottom: 11px;
  cursor: pointer;
  font-size: x-large;
}

button {
  border: solid 0.5px;
  background-color: burlywood;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
}

#user-list {
  width: 100%;
  max-width: 600px;
  white-space: pre-wrap;
  background-color: burlywood;
  border-radius: 10px;
  border: solid 0.5px;
  padding: 10px 20px;
  margin-bottom: 0;
  animation: showup .3s forwards;
}

#output {
  width: 100%;
  max-width: 600px;
  white-space: pre-wrap;
  background-color: burlywood;
  border-radius: 10px;
  border: solid 0.5px;
  padding: 15px 20px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
}

#loading {
  margin: 10px;
  animation: pulse 5s infinite;
}

@keyframes showup {
  from {translate: 0 20px; opacity: 0;}
  to {translate: none; opacity: 1;}
}

@keyframes pulse {
  0% {opacity: 0;}
  100% {opacity: 100;}
  0% {opacity: 0;}
}